[submodule "doxygen-awesome-css"]
	path = doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
[submodule "m.css"]
	path = m.css
	url = https://github.com/mosra/m.css
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
